//COLORS
$start-color: #161173dd;
$end-color: #080717dd;
$darkBlue: #18154add;
$white: #fff;
$lightGray: #b9b8b8bc;
$gray: rgb(171, 169, 169);
$darkGray: rgb(98, 97, 97);
$blueHover: #0a0821dd;

//SIZES
$menuHeight: 450px;
$menuWidth: 400px;
$formHeigth: 450px;
$formWidth: 450px;
$inputFont: 8px;
$buttonFont: 15px;
$labelSize: 12px;
$textSize: 12px;
$hoverSize: 16px;

//PADDING
$paddingForm: 6px 0px;
$paddingItem: 5px 90px;
$paddingTextarea: 20px 94px;
$paddingButton: 8px 154px;
$paddingMenu: 20px;
$paddingTitle: 0 0 0 7px;
$paddingInfo: 8px 0;
$paddingIcon: 8px 8px 0px 8px;
$paddingLabel: 5px 0;
$paddingHover: 10px 156px;

//BORDERS
$hrBorder: 0.5px 0 0 0;

//MARGIN
$marginButton:5px 0 0 0;
